<form class="form" action="/answer" method="get">
<h1> Stupid Coaching </h1>
 <p class="subheader">Ask your coach anything:</p>
  <input class="input" type="text" name="question">
  <input class="button" type="submit" value="Ask">
</form>
